prueba\target\maven-status\maven-compiler-plugin\compile\default-compile\inputFiles.lst
/Ejercicio_1/Ejercicio_1/target/
/Ejercicio_3/target/
/Ejercicio_4/target/
/Ejercicio_5/target/
/Ejercicio_6/target/
